<html>
<head>
<title>Search</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />  
<link rel = "stylesheet" type = "text/css" href = "/static/styling.css">
</head>

<body>

<!-- Stylesheets -->



<!-- jquery -->

  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
  <script src="/static/septa_search.js"></script>

<br>

<form action = "/search/" method = "get">
   
<div class = "ui-widget">

    Select a date range:    
    <p>Start date: <input type="text"  name = "start_date" class="datepicker" value = "2013-04-01" /></p>
    <p>End date: <input type="text" name = "end_date" class="datepicker" value = "2020-12-31" /></p>
    <input type = "submit" value = "testing dates"> 
    * date picker is in testing phase; not functional
    <hr>

    <label for="stations">Search for: </label>
    <br>
    <input type = "text" name ="search_term_1" class="stations">

    in:    
    <select name = "field_name_1">
        <option value="source">Source</option>
        <option value="destination">Destination</option>
        <option value = "nextstop">Next Stop</option>
        <option value = "late">Late</option>
        <option value = "trainno">Train Number</option>
    </select>

    <select name = "filter_type_1">
        <option value="__icontains">contains</option>
        <option value="__istartswith">starts with</option>
        <option value="__gt">greater than</option>
        <option value="__lt">less than</option>
        <option value="__exact">equals</option>
    </select>

    <br>
    AND
    <br>
    <input type = "text" name ="search_term_2" class="stations">
    in:    
    <select name = "field_name_2">
        <option value="source">Source</option>
        <option value="destination">Destination</option>
        <option value = "nextstop">Next Stop</option>
        <option value = "late">Late</option>
        <option value = "trainno">Train Number</option>
    </select>

    <select name = "filter_type_2">
        <option value="__icontains">contains</option>
        <option value="__istartswith">starts with</option>
        <option value="__gt">greater than</option>
        <option value="__lt">less than</option>
    </select>

    <br>

    <input type = "submit" value="Search">

    <input type = 'reset' value = 'Clear Form'>
<!-- </div>



</form>

<div class = "ui-widget"> -->

<br>
<br>
<hr>
<br>

What is the latest your train has ever been?
<!-- <form action = "/search/" method = "get"> -->

Search for 
<input type = "text" name = "train_number_search">
in train number.  Find your train number by looking up your train on <a href = "http://www.septa.org/schedules/rail/index.html">SEPTA's Regional Rail schedule</a>.

<br>

<input type = "submit" value = "Search">
<input type = 'reset' value = 'Clear Form'>
 </div>
</form>
</body>
</html>


